@font-face {
    font-family: Lucida console;
    src: url();
}

body{
    color: red;
    background-color: black;
    text-align: center;
    text-decoration: none;
    font-family: 'Macondo Swash Caps', cursive;
}

.titulo{
    font-size: 50px;
}
