body{
  background-color: #555;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}
#login{
  height:calc(100vh - 250px);
  display:flex;
  align-items:center;
  justify-content:center
}
.card{
  background-color:#333;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
  color: #f4f4f4;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.card.is-wide{
  width:550px
}
.card h1{
  font-size:1.75rem;
  font-weight:700
}
.card-content{
  padding:3.5rem 1rem
}
.card-footer{
  padding:1rem 0;
  border:none;
  font-size:.9rem;
  color:#808080
}
button{
margin: 15px;
}
body, button, input, optgroup, select, textarea{
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}      
.has-text-centered {
  text-align: center !important;
}
.card-header {
  padding: 1.75rem 0;
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em rgb(10 10 10 / 10%);
  display: flex;
}
article, aside, figure, footer, header, hgroup, section {
  display: block;
}
*, *::before, *::after {
  box-sizing: inherit;
}
header {
  display: block;
}
html {
  background-color: #555;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-rendering: optimizeLegibility;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.card,.card-content,.card,.card-footer,.card,.card-header{
  justify-content:center;
  align-items:center;
}
.input-fields{
  
  border-radius: 0.75rem;
  height: 35px;
  width: 500px;
  align-items: center;
}
.button-entrar{
  height: 35px;
  width: 60px;
  background-color: #3838CC;
  color: white;
}